################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiExpress/Scripts/uploads
/SiExpress/Bin
/SiExpress/.vs
/SiExProData/bin/Debug
/SiExProData/obj/Debug
/SiExProECommerce/obj/Debug
/SiExProECommerce/bin/Debug
/SiExpress/packages
